.navbar{
    position: fixed;
    top: 0px;
    background-color: black;
    width: 100vw;
    height: 9vh;
    color: white;
}

.section-list {
    padding-left: 5vw;
    padding-left: 5vw;
    padding-top: 3vh;
    text-align: center;
}

.list-nav {
color: #62008d;
font-size: 17px;
text-align: center;
width: min-content;
padding: 10px 10px 5px 10px;
border-radius: 10px;

}
.list-nav:hover{
    color: #9700d8;
}